rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /confessions/{confessionId} {
      allow read: if true;
      allow create: if request.resource.data.text is string && request.resource.data.text.size() <= 600;
      allow update: if true;
      allow delete: if true;
    }
  }
}
